<div class="row-wrap contact-row clearfix">
    <div class="col1">
        <h3>Neem contact met ons op</h3>
        <div class="ct-body">
            <p><strong>Telefoon</strong> <span>+316-52311073</span></p>
            <p><strong>Email</strong> <span>info@dimarsec.com</span></p>
            <p><strong>Adres</strong> <span>Kerstant van den Bergelaan 19A <br/> 2054EM Rotterdam  <br/> Nederland</span></p>
        </div>
    </div>
    <div class="col2">
        <h3>Volg ons</h3>
        <div class="ct-body social">            
            <%= link_to "Facebook", post_facebook_action_path %>
            <%= link_to("Twitter", post_twitter_action_path, :class => "tw") %>
            <a href="#" class="li" title="LinkedIn" target="_blank">LinkedIn</a>
        </div>
    </div>
    <div class="col3">
        <h3>Blijf op de hoogte</h3>
        <div class="ct-body newsletter">
            <form action="<%=  send_subscribe_email_action_path %>" method="post" id="form-newsletter">
                <%= email_field_tag("email", "Voer email adres in")%>
                <input type="submit" class="org-btn" value="Inschrijven voor nieuwsbrief"  />
            </form> 
        </div>
    </div>
</div>
<div class="footer-under clearfix">
    <div class="left-footer">  
        Dutch industrial & Maritime Security Compane
    </div>
    <div class="right-footer">  
        <em><strong>Copyright ©2012 Dimarsec</strong> All rights reserved</em>
    </div>  
</div>