<div class="form-page clearfix">
	<div class="content clearfix">
        <img src="/assets/klant.jpg" alt="" class="fright" />
        <h1 class="title-page">Klant worden</h1>
        <p>DETEC is niet alleen specialist in beveiliging. Wij hebben ook verstand van uw markt. Elke markt stelt zijn eigen eisen aan beveiliging. Die eisen zijn bij ons bekend waardoor wij u uitstekend van advies kunnen voorzien. Advies waarmee wij u werk uit handen nemen, advies waardoor u minder belast wordt. Wilt u ook een beveiliging toegespitst </p>
        <p>Dit segment bestaat uit zowel vastgoedmanagement- of facilitair managementbedrijven, als bedrijven die beveiliging voor hun (hoofd)kantoor nodig hebben. We bieden beveiligingsoplossingen voor bijvoorbeeld</p>
        <p>In een zorginstelling hoort iedereen zich veilig te voelen. Bedreigingen en agressie zijn echter steeds meer aan de orde van de dag. Omdat op locaties als ziekenhuizen zorg en veiligheid dicht bij elkaar liggen</p>
   	</div>
    <div class="form-box">
    	<h3 class="head-title-page">Contactgegevens</h3>
        <form class="form-horizontal large-form" action="" method="post">
            <div class="control-group">
                <label class="control-label" for="in-name">Naam:</label>
                <div class="controls">
                    <input type="text" id="in-name" name="in-name" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="in-functie">Functie:</label>
                <div class="controls">
                    <input type="text" id="in-functie" name="in-functie" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="in-telefoonnummer">Telefoonnummer:</label>
                <div class="controls">
                    <input type="text" id="in-telefoonnummer" name="in-telefoonnummer" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="in-emailadres">Emailadres:</label>
                <div class="controls">
                    <input type="text" id="in-emailadres" name="in-emailadres" />
                </div>
            </div>
        </form>
    </div>
    
    
    <div class="form-box">
    	<h3 class="head-title-page">Over de beveiliging</h3>
        <form class="block-form xlarge-form" action="" method="post">
            <div class="control-group">
                <label>1. Is uw bedrijf gekwalificeerd als BZRO?</label>
				<input type="text" name="" />
            </div>
            <div class="control-group">
                <label>2. Heeft u een risicoanalyse uitgevoerd? (laten uitvoeren?)</label>
				<input type="text" name="" />
            </div>
            <div class="control-group">
                <label>3. Welke risico's wilt u afdekken met beveiliging?</label>
				<input type="text" name="" />
                <input type="text" name="" />
                <input type="text" name="" />
            </div>
            <div class="control-group">
                <label>4. Heeft u zelf beveiligingspersoneel in huis?</label>
				<input type="text" name="" />
            </div>
            <div class="control-group">
                <label>5. Welke taken wilt u neerleggen big Dimarsec?</label>
				<input type="text" name="" />
                <input type="text" name="" />
                <input type="text" name="" />
            </div>
            <div class="control-group">
                <label>6. Heeft u ook, niet tijdgebonden, aanvullende taken die u wilt uitbesteden aan Dimarsec beveiliging?</label>
				<input type="text" name="" />
                <input type="text" name="" />
                <input type="text" name="" />
            </div>
            <div class="control-group">
                <label>7. Wat is de looptijd van uw opdracht?</label>
				<input type="text" name="" />
            </div>
            <div class="control-group">
                <label>8. Op welke tijden wilt u gebruik van maken van Dimarsec beveiliging?</label>
                <input type="text" name="" />
                <input type="text" name="" />
            </div>
            <div class="control-group">
                <label>9. Welke bezetting heeft u in gedachten (aantal mensen per dienst per locatie)?</label>
				<input type="text" name="" />
                <input type="text" name="" />
            </div>
            <div class="control-group">
                <label>10. Wie is uw huidige leverancier?</label>
				<input type="text" name="" />
            </div>
            <div class="control-group">
                <label>11. Wat zijn wij vergeten te vragen?</label>
				<input type="text" name="" />
                <input type="text" name="" />
                <input type="text" name="" />
                <input type="text" name="" />
                <input type="text" name="" />
            </div>
        </form>
    </div>    
    
</div>