<div class="form-page clearfix">
	<div class="content clearfix">
        <img src="/assets/klant.jpg" alt="" class="fright" />
        <h1 class="title-page">Klant worden</h1>
        <p>Nieuwe klanten zijn van harte welkom. Uiteraard willen wij u graag helpen met onze beveiligingsdienstverlening. Het is echter van groot belang dat uw bedrijf past binnen onze specialisatiedoelgroep. Alleen dan kunnen wij de oplossingen bieden die u zoekt.</p>
        <p>Daarom vragen wij u om onderstaande vragen te beantwoorden zodat wij samen kunnen bepalen of een toekomstige samenwerking een goede kans van slagen heeft.</p>
        <p>Door vooraf tijd en aandacht te schenken aan onze wederzijdse wensen en verwachtingen, besparen we straks veel tijd en energie met het herstellen van zaken die niet fout hadden hoeven gaan.</p>
   	</div>
    <div class="form-box">
    	<h3 class="head-title-page">Contactgegevens</h3>
        <form class="form-horizontal large-form" action='https://crm.zoho.com/crm/WebToLeadForm' method="post" onSubmit='javascript:document.charset="UTF-8"; return checkMandatery()' accept-charset='UTF-8'>
            <input type='text' style='display:none;' name='xnQsjsdp' value='EGQt6LMQk01thYo*kRl79w$$'/>  
            <input type='text' style='display:none;' name='xmIwtLD' value='dIJ7L557X5OsId7CASFW0WL8wauvoztB'/>  
            <input type='text'  style='display:none;' name='actionType' value='TGVhZHM='/> 
            <input type='text' style='display:none;' name='returnURL' value='http://smackaho.st:3000/' /> <br>

            <div class="control-group">
                <label class="control-label" for="in-name">Bedrijfsnaam:</label>
                <div class="controls">
                    <input type="text" id="in-bedrijfsnaam" name="in-name" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="in-name">Naam:</label>
                <div class="controls">
                    <input type="text" id="in-name" name="in-name" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="in-functie">Functie:</label>
                <div class="controls">
                    <input type="text" id="in-functie" name="in-functie" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="in-telefoonnummer">Telefoonnummer:</label>
                <div class="controls">
                    <input type="text" id="in-telefoonnummer" name="in-telefoonnummer" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="in-emailadres">Emailadres:</label>
                <div class="controls">
                    <input type="text" id="in-emailadres" name="in-emailadres" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="in-emailadres">Op welke tijden wilt u gebruik maken van Dimarsec beveiliging?</label>
                <div class="controls">
                    <input type="text" id="in-emailadres" name="in-emailadres" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="in-emailadres">Welke bezetting heeft u in gedachten (aantal mensen per dienst per locatie)?</label>
                <div class="controls">
                    <input type="text" id="in-emailadres" name="in-emailadres" />
                </div>
            </div>
            <div class="form-actions">
                <input type="submit" value="Verzend" id="klant_worden_submit"/>
            </div>
        </form>
    </div>   
    
</div>