<div class="row-wrap nobor clearfix">
	<div class="span7">
    	<h2 class="big-title">Missie: De beste beveiliging</h2>
        <div class="content">
        	<p>DETEC is niet alleen specialist in beveiliging. Wij hebben ook verstand van uw markt. Elke markt stelt zijn eigen eisen aan beveiliging. Die eisen zijn bij ons bekend waardoor wij u uitstekend van advies kunnen voorzien. Advies waarmee wij u werk uit handen nemen, advies waardoor u minder belast wordt. Wilt u ook een beveiliging toegespitst </p>
        	<p>Dit segment bestaat uit zowel vastgoedmanagement- of facilitair managementbedrijven, als bedrijven die beveiliging voor hun (hoofd)kantoor nodig hebben. We bieden beveiligingsoplossingen voor bijvoorbeeld</p>
        </div>
        
        <div class="space"></div>
        
        <h2 class="big-title">Visise: Uniek en uitsekend</h2>
        <div class="content">
        	<p>Dit segment bestaat uit zowel vastgoedmanagement- of facilitair managementbedrijven, als bedrijven die </p>
            <ol>
            	<li>DETEC is niet alleen specialist in beveiliging. Wij hebben ook verstand</li>
                <li>Die eisen zijn bij ons bekend waardoor wij u uitstekend</li>
                <li>Zoekt u professionele beveiliging voor uw specifieke branche?</li>
                <li>Advies waarmee wij u werk uit handen nemen, advies waardoor u minder.</li>
            </ol>
        </div>
        <div class="space"></div>
        
        <h2 class="big-title">Kernwaarden ABC</h2>
        <div class="content">
        	<p>Dit segment bestaat uit zowel vastgoedmanagement- of </p>
            <p>
            	DETEC is niet alleen specialist in beveiliging. Wij hebben ook verstand <br/>
                Die eisen zijn bij ons bekend waardoor wij u uitstekend<br/>
               Zoekt u professionele beveiliging voor uw specifieke branche?<br/>

            </p>
        </div>
    </div>
    <div class="span-right">
    	<h2 class="big-title">Waarom Dimarsec?</h2>
        <div class="content">
        	<ul class="space-list">
            	<li>Efficient</li>
                <li>Deskundig</li>
                <li>Hoogwaardige beveiliging</li>
                <li>Unieke aanpak</li>
            </ul>
            <br/>
            <p><a href="#" class="org-btn w330">Vraag nu een offerte aan!</a></p>
        </div>
    </div>
</div>  