<div class="row-wrap nobor clearfix">
	<div class="span7">
    	<h2 class="big-title">Missie: De beste beveiliging</h2>
        <div class="content">
        	<p>Dimarsec is het enige gespecialiseerde, onafhankelijke beveiligingsbedrijf voor de industriele-, maritieme- en large constructionsector in Nederland. 
            Mensen en menselijke handelingen staan hierbij centraal. 
            Wij hebben niet de ambitie om de grootste te zijn maar wel de beste.</p>
        	<p>Door onze unieke aanpak garanderen wij dat de juiste man op de juiste plek in een keer de juiste handelingen uitvoert. </p>
        </div>
        
        <div class="space"></div>
        
        <h2 class="big-title">Visise: Uniek en uitsekend</h2>
        <div class="content">
        	<p>Wij bieden de dienstverlening waar in deze specifieke beveiligingsmarkt behoefte aan is, door: </p>
            <ol>
            	<li>Een unieke klantbenadering: de wensen van de klant zetten we om in praktische beveiligingsoplossingen.</li>
                <li>Het inzetten van uitstekend gekwalificeerd en aanvullend geschoold personeel.</li>
                <li>Het continue monitoren van de afgesproken kwaliteit.</li>
            </ol>
        </div>
        <div class="space"></div>
        
        <h2 class="big-title">Kernwaarden ABC</h2>
        <div class="content">
        	<p>Onze kernwaarden zijn vooruitstrevend:</p>
            <p>
            	Ambitieus: we willen de beste zijn en blijven.</br>
                Betrouwbaar: wij zijn er voor en door u, u kunt dus op ons rekenen.</br>
                Competent: wij weten hoe het moet en doen het dus ook goed.

            </p>
        </div>
    </div>
    <div class="span-right">
    	<h2 class="big-title">Waarom Dimarsec?</h2>
        <div class="content">
        	<ul class="space-list">
            	<li>Efficient</li>
                <li>Deskundig</li>
                <li>Hoogwaardige beveiliging</li>
                <li>Unieke aanpak</li>
            </ul>
            <br/>
            <p><a href="<%= klant_worden_path %>" class="org-btn w330">Vraag nu een offerte aan!</a></p>
        </div>
    </div>
</div>  