<div class="row-wrap nobor clearfix">
    <h1 class="title-score">Your Scrore: <%= 14 - session[:true_answer].to_i %> fout</h1>
    <div class="wrapper-span">
    	<div class="span4">
        	<div class="span-box">
            	<h2>0 tot 4 fout</h2>
                <div class="span-body">
                	DETEC is niet alleen specialist in <br/> beveiliging. Wij hebben ook verstand<br/>  van uw markt. Die eisen zijn bij ons <br/>bekend waardoor wij u uitstekend <br/> beveiliging. Wij hebben ook verstand<br/>  van uw markt. Die eisen zijn bij ons
                </div>
            </div>
            <a href="#" class="org-btn">Door naar het sollicitatieformulier</a>
        </div>
        <div class="span4">
        	<div class="span-box">
            	<h2>4 tot 6 fout</h2>
                <div class="span-body">
                	<br/><br/> DETEC is niet alleen specialist in <br/> beveiliging. Wij hebben ook verstand
                </div>
            </div>
            <a href="#" class="org-btn">Knop: doe de test opnieuw</a>
        </div>
        <div class="span4">
        	<div class="span-box">
            	<h2>6 tot 14 fout</h2>
                <div class="span-body">
                	<br/><br/> Wij hebben ook verstand  van uw. <br/>Die eisen zijn bij ons bekend
                </div>
            </div>
            <a href="#" class="org-btn">Knop: Escape and exit</a>
        </div>
    </div>
</div>   