<div class="form-page clearfix">
	<div class="content clearfix">
        <h1 class="title-page">Sollicitatieformulier</h1>
        <p>DETEC is niet alleen specialist in beveiliging. Wij hebben ook verstand van uw markt. Elke markt stelt zijn eigen eisen aan beveiliging. Die eisen zijn bij ons bekend waardoor wij u uitstekend van advies kunnen voorzien. Advies waarmee wij u werk uit handen nemen, advies waardoor u minder belast wordt. Wilt u ook een beveiliging toegespitst </p>
        <p>Dit segment bestaat uit zowel vastgoedmanagement- of facilitair managementbedrijven</p>
   	</div>
    <div class="form-box persoon-box">
    	<h3 class="head-title-page">Persoonlijke gegevens</h3>
        <form class="form-horizontal large-form" action="" method="post">
            <div class="control-group">
                <label class="control-label" for="in-name">Naam:</label>
                <div class="controls">
                    <input type="text" id="in-name" name="in-name" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="in-voornaam">Voornaam:</label>
                <div class="controls">
                    <input type="text" id="in-voornaam" name="in-voornaam" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="in-gelefoonnummer">Geboortedatum:</label>
                <div class="controls">
                    <input type="text" id="in-gelefoonnummer" name="in-geboortedatum" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="in-adres">Adres:</label>
                <div class="controls">
                    <input type="text" id="in-adres" name="in-adres" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="in-postcode">Postcode + Woonplaats:</label>
                <div class="controls">
                    <input type="text" id="in-postcode" name="in-postcode" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="in-telefoonnummer">Telefoonnummer:</label>
                <div class="controls">
                    <input type="text" id="in-telefoonnummer" name="in-telefoonnummer" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="in-emailadres">Emailadres:</label>
                <div class="controls">
                    <input type="text" id="in-emailadres" name="in-emailadres" />
                </div>
            </div>
        </form>
    </div>
    
    
    <div class="form-box">
        <form class="block-form xlarge-form" action="" method="post">
            <div class="control-group">
                <label>Hoeveel uur wilt u werken?</label>
                <input type="text" name="" />
                <input type="text" name="" />
            </div>
            <div class="control-group">
                <label>Wat spreekt u aan in ons bedrijf?</label>
                <input type="text" name="" />
                <input type="text" name="" />
            </div>
            <div class="control-group">
                <label>Wat spreekt u aan in de functie?</label>
                <input type="text" name="" />
                <input type="text" name="" />
            </div>
            <div class="form-actions" style="margin-right:80px;">
                <input type="submit" value="Upload CV" class="org-btn fright" />
            </div>
        </form>
    </div>   
    
</div>