<div id='crmWebToEntityForm' align=center>
	<META HTTP-EQUIV ='content-type' CONTENT='text/html;charset = UTF-8'>  
		<form action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads766884000000057034 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatery()' accept-charset='UTF-8'>
		<table border=0 cellspacing=0 cellpadding=5 width=480 style='border-top:2px solid #999999;border-bottom:1px solid #999999;background-color:#ffffff;'>  
			<input type='text' style='display:none;' name='xnQsjsdp' value='EGQt6LMQk01thYo*kRl79w$$'/>  
			<input type='text' style='display:none;' name='xmIwtLD' value='dIJ7L557X5OsId7CASFW0WL8wauvoztB'/>  
			<input type='text'  style='display:none;' name='actionType' value='TGVhZHM='/> 
			<input type='text' style='display:none;' name='returnURL' value='http://www.dimarsec.nl' /> <br>
			<tr>
				<td colspan='2' align='left' style='background-color:#f5f5f5;border-bottom:2px dotted #dadada; color:#000000;font-family:sans-serif;font-size:14px;'>
					<strong>Webformulier</strong>
				</td>
			</tr>
			<tr>
				<td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold' align='right' width='25%'>Bedrijf &nbsp;&nbsp;:</td>
				<td width='75%'>
					<input type='text' maxlength='100' name='Company' /> 
				</td>
			</tr>
			<tr>
				<td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold' align='right' width='25%'>Voornaam &nbsp;&nbsp;:</td>
				<td width='75%'>
					<input type='text' maxlength='40' name='First Name' /> 
				</td>
			</tr>
			<tr>
				<td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold' align='right' width='25%'>Achternaam &nbsp;&nbsp;:</td>
				<td width='75%'>
					<input type='text' maxlength='80' name='Last Name' /> 
				</td>
			</tr>
			<tr>
				<td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold' align='right' width='25%'>Functie &nbsp;&nbsp;:</td>
				<td width='75%'>
					<input type='text' maxlength='100' name='Designation' /> 
				</td>
			</tr>
			<tr>
				<td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold' align='right' width='25%'>E-mail &nbsp;&nbsp;:
				</td>
				<td width='75%'>
					<input type='text' maxlength='100' name='Email' /> 
				</td>
			</tr>
			<tr>
				<td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold' align='right' width='25%'>Telefoon &nbsp;&nbsp;:
				</td>
				<td width='75%'>
					<input type='text' maxlength='30' name='Phone' /> 
				</td>
			</tr>
			<tr>
				<td colspan=2 align=center style='background-color:#eaeaea'> 
					<input type='submit' name='save' value=Opslaan /> &nbsp; &nbsp; 
					<input type='reset' name='reset' value=Terugzetten /> 
				</td>
			</tr>
		</table>
		<script> var mndFileds=new Array('Company','Last Name');var fldLangVal=new Array('Bedrijf','Achternaam');function checkMandatery(){for(i=0;i<mndFileds.length;i++){ var fieldObj=document.forms['WebToLeads766884000000057034'][mndFileds[i]];if(fieldObj) {if(((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0){alert(fldLangVal[i] +' mag niet leeg zijn'); fieldObj.focus(); return false;}else if(fieldObj.nodeName=='SELECT'){if(fieldObj.options[fieldObj.selectedIndex].value=='-None-'){alert(fldLangVal[i] +' mag niet geen zijn'); fieldObj.focus(); return false;}}}}}</script>  
	</form>
</div>