<div class="row-wrap sector-row clearfix">
	<div class="span4">
    	<a href="#"><img src="/assets/werkwijze-01.jpg" alt="" /></a>
    </div>
    <div class="span4">
    	<a href="#"><img src="/assets/werkwijze-02.jpg" alt="" /></a>
    </div>
    <div class="span4">
    	<a href="#"><img src="/assets/werkwijze-03.jpg" alt="" /></a>
    </div>
</div>

<div class="row-wrap nobor clearfix">
	<div class="span7">
    	<h2 class="big-title">Werkwijze: Organiseren en borgen!</h2>
        <div class="content">
        	<p>Wij zijn als geen ander in staat uw beveiliging te organiseren en te borgen. Op de meest efficiënte manier. Naast onze jarenlange ervaring in de beveiligingsbranche maken wij gebruik van diverse versterkende factoren.</p> 
            <ul>
            	<li>Dimarsec heeft een duidelijk beleid en een eenvoudige maar robuuste organisatie;</li>
                <li>Dimarsec investeert in haar medewerkers</li>
                <li>Dimarsec hanteert een nauwkeurig omschreven personeels- en klantplanning</li>
                <li>Dimarsec heeft op maat gemaakte monitoring-systemen.</li>
            </ul>
        </div>
        
        <div class="space"></div>
        
        <h2 class="big-title">Het beste personeel</h2>
        <div class="content">
        	<p>Ons innovatieve personeelsbeleid maakt, dat wij beschikken over de beste beveiligers in de markt. Wij werken uitsluitend met beveiligers voor de haven,  industrie en large construction site. Mensen die de risico’s kennen en weten hoe ze moeten handelen. </p>
        <p>Wij selecteren streng en investeren in onze medewerkers. Zodat ze slagvaardiger, daadkrachtiger en effectiever handelen. U krijgt dus de beste beveiligers in huis.</p>
        </div>
    </div>
    <div class="span-right">
    	<h2 class="big-title">Voordeel voor de klant</h2>
        <div class="content">
        	<p><strong>Kostenvoordeel</strong> <br/>
			Calculaties laten zien, dat onze gedegen werkwijze voor u voordeel betekent. 
            De tijd die u nu aan beveiligingszaken kwijt bent, kunt u voor 75% aan andere zaken besteden. 
            De ontzorging die Dimarsec u biedt, levert u dus ook kostenvoordeel op.</p>
            
			<p><strong>Maatwerk </strong><br/>
            Maatwerk afgestemd op uw locatie, uw bedrijfsomstandigheden en uw risico’s. </p>
            <br/>
            <p><a href="<%= klant_worden_path %>" class="org-btn w330">Vraag nu een offerte aan!</a></p>
        </div>
    </div>
</div>