<div class="row-wrap sector-row clearfix">
	<div class="span4">
    	<a href="#"><img src="/assets/werkwijze-01.jpg" alt="" /></a>
    </div>
    <div class="span4">
    	<a href="#"><img src="/assets/werkwijze-02.jpg" alt="" /></a>
    </div>
    <div class="span4">
    	<a href="#"><img src="/assets/werkwijze-03.jpg" alt="" /></a>
    </div>
</div>

<div class="row-wrap nobor clearfix">
	<div class="span7">
    	<h2 class="big-title">Werkwijze: Organiseren en borgen!</h2>
        <div class="content">
        	<p>DETEC is niet alleen specialist in beveiliging. Wij hebben ook verstand<br/>  van uw markt. Die eisen zijn bij ons bekend waardoor wij u uitstekend</p> 
            <ul>
            	<li>DETEC is niet alleen specialist in beveiliging. Wij hebben ook verstand</li>
                <li>Die eisen zijn bij ons bekend waardoor wij u uitstekend</li>
                <li>Zoekt u professionele beveiliging voor uw specifieke branche?</li>
                <li>Advies waarmee wij u werk uit handen nemen, advies waardoor u minder.</li>
            </ul>
        </div>
        
        <div class="space"></div>
        
        <h2 class="big-title">Het beste personeel</h2>
        <div class="content">
        	<p>DETEC is niet alleen specialist in beveiliging. Wij hebben ook verstand van uw markt. Elke markt stelt zijn eigen eisen aan beveiliging. Die eisen zijn bij ons bekend waardoor wij u uitstekend van advies kunnen voorzien. Advies waarmee wij u werk uit handen nemen, advies waardoor u minder belast wordt. Wilt u ook een beveiliging toegespitst </p>
        <p>Dit segment bestaat uit zowel vastgoedmanagement- of facilitair managementbedrijven, als bedrijven die beveiliging voor hun (hoofd)kantoor nodig hebben. We bieden beveiligingsoplossingen voor bijvoorbeeld</p>
        </div>
    </div>
    <div class="span-right">
    	<h2 class="big-title">Voordeel voor de klant</h2>
        <div class="content">
        	<p><strong>Kostenvoordeel</strong> <br/>
			DETEC is niet alleen specialist in beveiliging. Wij hebben ook verstand van uw markt. Elke markt stelt zijn eigen eisen aan beveiliging. Die eisen zijn bij ons bekend waardoor wij u uitstekend van advies kunnen bekend waardoor wij u uitstekend van advies kunnen voorzien.</p>
            
			<p><strong>Maatwerk </strong><br/>
            Dit segment bestaat uit zowel vastgoedmanagement- of facilitair managementbedrijven, als bedrijven die</p>
            <br/>
            <p><a href="#" class="org-btn w330">Vraag nu een offerte aan!</a></p>
        </div>
    </div>
</div>