<!--Start Zoho Campaigns Signup Form -->
<div id="zc_embed_signup" style="width:200px; border:solid 1px #e3e3e3;">
	<div style="padding:10px;font-weight:bold;text-align:center;color:#222;font-size:13px;background-color:#ececec;padding:10px;;">Join our email list</div>
	<form method ='POST' target='_blank' style='width:200px' id="zcampaignminiform" action="http://zc1.maillist-manage.com/ua/Optin?od=11287eca3c7df7&opDgs=7200cd3a4fff9f7aaab4b086df04ef341185630859ca1fd0&lD=140c0734fad5ea5&n=11699f7519af83e">
		<div style="padding:10px; background-color:#f6f6f6;color:#555;line-hieght:15px;font-size:11px;border-style:solid;background-color:#f2f2f2;border-color:#d5d5d5;font-family:Arial;border-width:1px;padding:10px;">
			<div id="error" style="text-align:center;color:#d00;"></div>
			<div style="font-size:12px; color:#555;margin-top:10px;">Email:</div>
			<div style="margin-top:3px;">
				<input type="text" id="zcemail" name='optinEmail' required style="color:#555;width:90%;font-size:12px;border-style:solid;background-color:#ffffff;border-color:#ccc;font-family:Arial;border-width:1px;;border:solid 1px #ccc; font-size:11px; padding:4px 2px; width:98%;">
			</div>
			<span id="zc_resp" style="color:#f2644d"></span>
			<div style='font-size:12px; color:#555;margin-top:10px;'>Name:</div>
			<div style='margin-top:3px;'>
				<input name='LASTNAME' type='text' style='color:#555;width:90%;font-size:12px;border-style:solid;background-color:#ffffff;border-color:#ccc;font-family:Arial;border-width:1px;;border:solid 1px #ccc; font-size:11px;padding:4px 2px;width:98%;'>
			</div>
			<div style=" margin-top:10px; text-align:center; padding:10px;">
				<input type="submit" id="zcembedminiform" style="border-radius:5px;color:#fff;font-size:12px;border-style:solid;background-color:#555;border-color:#555;font-family:Arial;border-width:1px;;text-decoration:none; border-radius:3px;padding:5px 15px;" value="Join Now">
			</div>
		</div>
	</form>
</div><!-- End Zoho Campaigns Signup Form -->